CompileFlags:
  Add: [-xc++, -std=gnu++17, -Idmcp, -Isrc/dm42, -Isrc, -Iinc, -Irecorder,  -I../dmcp, -I../src/dm42, -I../src, -I../inc, -I../recorder, -DDECIMAL_CALL_BY_REFERENCE, -DDECIMAL_GLOBAL_ROUNDING, -DDECIMAL_GLOBAL_ROUNDING_ACCESS_FUNCTIONS, -DDECIMAL_GLOBAL_EXCEPTION_FLAGS, -DDECIMAL_GLOBAL_EXCEPTION_FLAGS_ACCESS_FUNCTIONS, -D_WCHAR_T_DEFINED, -D__packed= ]
