[submodule "recorder"]
	path = recorder
	url = https://github.com/c3d/recorder.git
[submodule "dmcp5"]
	path = dmcp5
	url = git@github.com:c3d/DMCP5_SDK.git
[submodule "dmcp"]
	path = dmcp
	url = git@github.com:c3d/SDKdemo.git
