/.dep/
/DB48X.pgm
/build/
/cscope.files
/cscope.out
/sim/.qmake.stash
/sim/simulator.app/
/sim/simulator.mak
/sim/*.o
/sim/ui_sim-window.h
/sim/moc_predefs.h
/sim/moc_sim-screen.cpp
/sim/moc_sim-window.cpp
/sim/qrc_sim.cpp
/tools/ttf2font/.build/
/tools/ttf2font/.logs/
/tools/ttf2font/config.h
/tools/ttf2font/ttf2font
/help/DB48X.md
/compile_commands.json
/tools/forcecrc32/.build/
/tools/forcecrc32/.logs/
/tools/forcecrc32/forcecrc32
/sim/gcc111libbid.a
/sim/simulator
/src/dm42/version.h
/.cache/
/*.bin
/*.tgz
/DB50X.pg5
/src/dmcp/version.h
