/.dep/
/DB48X.pgm
/build/
/cscope.files
/cscope.out
/sim/.qmake.stash
/sim/db48x.app/
/sim/db48x.mak
/sim/*.o
/sim/ui_sim-window.h
/sim/moc_predefs.h
/sim/moc_sim-screen.cpp
/sim/moc_sim-window.cpp
/sim/qrc_sim.cpp
/tools/ttf2font/.build/
/tools/ttf2font/.logs/
/tools/ttf2font/config.h
/tools/ttf2font/ttf2font
/compile_commands.json
/tools/forcecrc32/.build/
/tools/forcecrc32/.logs/
/tools/forcecrc32/forcecrc32
/sim/gcc111libbid.a
/sim/simulator
/src/dm42/version.h
/.cache/
/*.bin
/*.tgz
/db50x.pg5
/db48x.pgm
/src/dmcp/version.h
/tools/decimize/.build/
/tools/decimize/.logs/
/tools/decimize/decimize
/tools/ttf2font/ttf2font-db48x
/tools/ttf2font/ttf2font-db50x
